@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #ff3e00,
	$secondary: color.scale(#676778, $whiteness: -10%),
	$surface: color.adjust(color-palette.$grey-900, $blue: +4),
	$background: #000,
	$error: color-palette.$red-700
);


html,
body {
	background-color: #000;
	color: theme.$on-surface;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}

.full-width-if-mobile {
    @media (max-width: 600px) {
        width: 100% !important;
    }
}

.score-0 {
    background: linear-gradient(137deg, hsl(50, 85%, 60%) 0%, 50%, hsl(45, 100%, 33%)) no-repeat;
    background-size: 10px 100%;
}

.score-1 {
    background: linear-gradient(142deg, hsl(225, 6%, 50%) 0%, 50%, hsl(225, 9%, 79%)) no-repeat;
    background-size: 10px 100%;
}

.score-2 {
    background: linear-gradient(150deg, hsl(25, 64%, 65%) 0%, 40%, hsl(20, 67%, 38%)) no-repeat;
    background-size: 10px 100%;
}
